<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Your Events</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">


    <!--== CSS Files ==-->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" media="screen">
    <link th:href="@{/css/style.css}" rel="stylesheet" media="screen">
    <link th:href="@{/css/font-awesome.css}" rel="stylesheet" media="screen">
    <link th:href="@{/css/owl.carousel.css}" rel="stylesheet" media="screen">
    <link th:href="@{/css/flexslider.css}" rel="stylesheet" media="screen">
    <link th:href="@{/css/fancySelect.css}" rel="stylesheet" media="screen">
    <link th:href="@{/css/responsive.css}" rel="stylesheet" media="screen">

    <!--== Google Fonts ==-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Belgrano' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>


</head>
<body>
<header id="header">
    <div id="menu" class="header-menu fixed">
        <div class="box">
            <div class="row">
                <nav role="navigation" class="col-sm-12">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <!--== Logo ==-->
                        <span class="navbar-brand logo">
									Your Events
								</span>

                    </div>
                    <div class="navbar-collapse collapse">

                        <!--== Navigation Menu ==-->
                        <ul class="nav navbar-nav">
                            <li class="current"><a href="#header" th:href="@{/}">Home</a></li>
                            <li><a href="#about" th:href="@{/about}">About</a></li>
                            <li><a href="#events"th:href="@{/events}">Events</a></li>
                            <li><a href="#Login"th:href="@{/myaccount}">Login</a></li>
                            <li><a href="#Registration"th:href="@{/registration}">Registration</a></li>
                            <li><a href="#contact"th:href="@{/contact}">Contact</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>

    <!--== Site Description ==-->
    <div class="header-cta">
        <div class="container">
            <div class="row">
                <div class="entry-content">
                    <p><span class="start-text"><b>From THE MARCH 7, 2014</b></span></p>
                    <h4 class="entry-title"><a href="#">Organizing World class events</a></h4>
                    <h5><span><b>cośtamcośtam</b></span></h5>
                </div>
            </div>
        </div>
    </div>

    <div class="header-bg">
        <div id="preloader">
            <div class="preloader"></div>
        </div>
        <div class="main-slider" id="main-slider">

            <!--== Main Slider ==-->
            <ul class="slides">
                <li><img th:src="@{images/demo/bg-slide-01.jpg}" alt="Slide Image"/></li>
                <li><img th:src="@{images/demo/bg-slide-02.jpg}" alt="Slide Image 2"/></li>
            </ul>

        </div>
    </div>
</header>

<div class="content">
    <div class="container box">


        <!--== Javascript Files ==-->
        <!--        <script type="text/javascript" th:src="@{/js/jquery-2.1.0.min.js}"></script>-->
        <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/jquery.scrollTo.js}"></script>
        <script type="text/javascript" th:src="@{/js/jquery.nav.js}"></script>
        <script type="text/javascript" th:src="@{/js/jquery.flexslider.js}"></script>
        <script type="text/javascript" th:src="@{/js/jquery.accordion.js}"></script>
        <script type="text/javascript" th:src="@{/js/jquery.placeholder.js}"></script>
        <script type="text/javascript" th:src="@{/js/jquery.fitvids.js}"></script>
        <script type="text/javascript" th:src="@{/js/gmap3.js}"></script>
        <script type="text/javascript" th:src="@{/js/fancySelect.js}"></script>
        <script type="text/javascript" th:src="@{/js/owl.carousel.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/main.js}"></script>
        <script type="text/javascript">

            $(document).ready(function () {

                $("#testimonial-container").owlCarousel({

                    navigation: false, // Show next and prev buttons
                    slideSpeed: 700,
                    paginationSpeed: 400,
                    singleItem: true,
                });

            });
        </script>
</body>
</html>